<p style="color: green"><%= notice %></p>

<%= render @carinfo %>

<div>
  <%= link_to "Edit this carinfo", edit_carinfo_path(@carinfo) %> |
  <%= link_to "Back to carinfos", carinfos_path %>

  <%= button_to "Destroy this carinfo", @carinfo, method: :delete %>
</div>
